<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF is for testing purposes-->
<robot name="urdf">
    <link name="base_link">
        <visual>
            <origin
                    xyz="0 0 0"
                    rpy="0 0 0"/>
            <geometry>
                <mesh
                        filename="package://base_link.STL"/>
            </geometry>
            <material
                    name="">
                <color
                        rgba="0.79216 0.81961 0.93333 1"/>
            </material>
        </visual>
        <collision>
            <origin
                    xyz="0 0 0"
                    rpy="0 0 0"/>
            <geometry>
                <mesh
                        filename="package://base_link.STL"/>
            </geometry>
        </collision>
    </link>

    <link name="shuttle1">
        <visual>
            <origin
                    xyz="0 0 0"
                    rpy="0 0 0"/>
            <geometry>
                <mesh
                        filename="package://shuttle1.STL"/>
            </geometry>
            <material
                    name="">
                <color
                        rgba="0.79216 0.81961 0.93333 1"/>
            </material>
        </visual>
        <collision>
            <origin
                    xyz="0 0 0"
                    rpy="0 0 0"/>
            <geometry>
                <mesh
                        filename="package://shuttle1.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="shuttle1-joint" type="prismatic">
        <origin
                xyz="0.5611 -0.04572 0.0504"
                rpy="1.5708 0 0"/>
        <parent
                link="base_link"/>
        <child
                link="shuttle1"/>
        <axis
                xyz="0 0 1"/>
        <limit
                lower="0"
                upper="-6"
                effort="0"
                velocity="0"/>
    </joint>

    <link name="clamp1">
        <visual>
            <origin
                    xyz="0 0 0"
                    rpy="0 0 0"/>
            <geometry>
                <mesh
                        filename="package://clamp1.STL"/>
            </geometry>
            <material
                    name="">
                <color
                        rgba="0.79216 0.81961 0.93333 1"/>
            </material>
        </visual>
        <collision>
            <origin
                    xyz="0 0 0"
                    rpy="0 0 0"/>
            <geometry>
                <mesh
                        filename="package://clamp1.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="clamp1-joint" type="prismatic">
        <origin
                xyz="-0.4 0.099907 0.0225"
                rpy="3.1416 1.5708 0"/>
        <parent
                link="shuttle1"/>
        <child
                link="clamp1"/>
        <axis
                xyz="0 0 -1"/>
        <limit
                lower="-0.2"
                upper="0.6"
                effort="0"
                velocity="0"/>
    </joint>

</robot>